@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background: linear-gradient(to bottom right, #4286f4, #7c37ad); */
    /*background: linear-gradient(to bottom right, #00ff00, #ffff00);*/
    background: linear-gradient(to bottom right, #ff7f50, #ff69b4);
}
.main-play{
    text-align: center;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #333;
    font-family: sans-serif;
}
.play-title{
    color: #f8f8f8;
}
:is(#yes, #no) {
    margin: .7rem;
    padding: .6rem 2.5rem;
    border: none;
    background-color: #00fb47;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(10, 205, 0);
  
}
/* --------index-------- */
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    min-height: 303px;
    background-color: #333;
    font-family: 'Poppins', sans-serif;
    position: relative;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(128, 0, 0, 0.5);
    
}
.login{
    padding: .5rem 1rem;
}
.register{
    padding: 1rem;
}
.container{
    width: 100%;
}

.container::before{
    content: "";
    position: absolute;
    border: 15px solid transparent;
    border-top: 15px solid #4CAF50;
    border-right: 15px solid #4CAF50;
    border-radius: 0px 10px 0px 0px ;
    right: 0;
    top: 0;
}

.container > h1{
    font-weight: 400;
    color:  #4CAF50;
    position: relative;
    margin-bottom: 1rem;
}
.container > h1::before{
    content: "";
    position: absolute;
    width: 19%;
    background-color:  #FFC107 ;
    height: 2px;
    bottom: 9px;
    border-radius: 40px;
}
.container label{
    color: #fff;
    font-size: .8rem
}

.input-box{
    border-bottom: 1px solid #fff;
    margin-bottom: 1.5rem;
}
.last{
    margin-bottom: 0;
}
#confirm-password-error{
    color: red;
    display: block;
    font-size: .6rem;
    
    min-height: 1.5rem;
}
i{
    min-width: 1rem;
    font-size: .8rem;
    color: #fff;
}
.input-box > input{
    border: none;
    background-color: transparent;
    outline: none;
    color: #fff;
}
.input-box > input::placeholder{
    letter-spacing: 0;
    color: #fff;
    opacity: .5;
}

.container > .btn-login{
    border: 2px solid #4CAF50;
    border-radius: 40px;
    padding: 5px 30px;
    color: #ffffff;
    background-color: transparent;
    transition: all .2s linear;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.container > .btn-login::before{
    content: "";
    position: absolute;
    border-radius: 60% 60% 0 0;
    width: 103%;
    height: 150%;
    top: 50px;
    left: -1px;
    background-color: #4CAF50;
    z-index: -1;
    transition: 1s;
}
.container > .btn-login:hover::before{
    background-color: #4CAF50;
    top: -10px;
}

.cadastro, #register{
    font-size: .6rem;
    color: #fff;
    padding: 10px 10px 4px;
    margin-left: -10px;
}
#register{
    font-size: .6rem;
    color: #fff;
    padding: 0px 10px;
    margin-left: -10px;
}
#register > a{
    text-decoration: none;
    color: #4CAF50; 
}
#register> a:hover{
    color: #00fb47;
}
.cadastro > a{
    text-decoration: none;
    color: #4CAF50;    
}
.cadastro > a:hover{
    color: #00fb47;
}

footer{
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    position: absolute;
    bottom: 10px;
}
@media  screen and (min-width: 400px) {
    .login{
        width: 80%;
        height: 40%;
        padding: 0 1rem;
    }
    .container{
        height: max-content;
        width: fit-content;
    }
 
}


