@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
:root{
   --bg-card-color: #313131;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(to bottom right, #4286f4, #7c37ad); */
    /* background: linear-gradient(to bottom right, #00ff00, #ffff00); */
    /*background: linear-gradient(to bottom right, #ff7f50, #ff69b4);*/
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .6rem 1rem;
}
img{
    width: 40px;
}
.welcome{
    width: 250px;
    position: relative;
    height: 90%;
    background:linear-gradient(to bottom, #7b4397, #dc2430);
}
.fundo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main{
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}